body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background: url('https://source.unsplash.com/1600x900/?lost-and-found') no-repeat center center;
    background-image: url("../images/magnifying_001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
}

.intro-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}

.feature-box {
    text-align: center;
}

.feature-box img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.feature-carousel {
    overflow: hidden;
    white-space: nowrap;
}

.feature-item {
    display: inline-block;
    width: 100%;
    transition: transform 1s ease-in-out;
}

.about-team {
    display: flex;
    justify-content: space-around;
}

.about-team div {
    text-align: center;
}

.about-team img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.carousel-fade .carousel-item {
    transition: opacity 1.5s ease-in-out;
}

.custom-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

.custom-caption h5 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
}

.custom-caption p {
    font-size: 1.2rem;
    color: #dddddd;
}

.carousel-indicators button {
    background-color: #333;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.navbar img {
    height: 70px;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
}
